.app {
  height: 100%;

  .skillsAndCertsTable {
    display: table;
    height: 100%;

    .skillsAndCerts {
      display: table-row;
      width: 100%;
      height: 100%;

      .skills {
        display: table-cell;
        width: 50%;
        height: 100%;
      }

      .certs {
        display: table-cell;
        width: 50%;
        height: 100%;
      }
    }
  }
}
